.hero-section{
    width: 100%;
}

.hero-up{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.meet{
    width: fit-content;
    font-size: 4rem;
    font-family: 'Roboto', serif;
    position: relative;
    left: 22rem;
    top: 8rem;
    background: linear-gradient(to bottom, #F6FAFA, #F6F7FC);
    background-clip: text;
    color: transparent;
}

.hero-heading{
    width: fit-content;
    font-size: 8.8rem;
    font-family: 'Roboto', sans-serif;
    position: static;
    background: linear-gradient(to bottom, #FCFBFE, #554B85);
    background-clip: text;
    color: transparent;
}

.hero-down{
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1% 10%;
}

.mobile{
    width: 44%;
    height: 114%;
    position: relative;
    top: -11rem;
}

.hero-mess{
    width: 40%;
    font-family: 'Roboto', serif;
    margin-right: 2rem;
}

.hero-mess h3{
    font-size: larger;
}

.hero-mess p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hero-mess button{
    width: fit-content;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 0.6rem;
}

.stats{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 5rem;
}

.avatar{
    display: flex;
    flex-direction: row;
}

.avatar-img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-left: -0.2rem;
}


.last-mess h3{
    font-size: 5rem;
    font-family: 'Roboto', serif;
    font-weight: 300;
    background: linear-gradient(to right, #C4BBD8, #A195C1);
    background-clip: text;
    color: transparent;
}

.colour-overlay{
    width: 100%;
    background-color: rgb(0, 0, 0, 1);
    position: relative;
    top: -15rem;
    box-shadow: 1px 1px 100px 70px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    height: fit-content;
}

.trustee{
    width: 21.8rem;
    color: #9b9c9c;
    font-family: 'Roboto';
}

.brand-logos{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    align-self: center;
    justify-self: center;
}

.brand-logos img{
    width: 12rem;
    filter: grayscale(50%);
    filter: brightness(0) invert(0.5);
}

.feature-version{
    background: radial-gradient(circle at 45% 45%, #49347B, #231A42);
    align-items: center;
    align-self: center;
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
    font-family: 'Roboto', serif;
    color: #F6F7FC;
}

.feature-title{
    font-family: 'Roboto', serif;
    font-size: 5rem;
    font-weight:300;
    background: radial-gradient(circle at 70% 70%, #F7F5FD, #C3C0E4);
    background-clip: text;
    color: transparent;
    width: 70%;
    text-align: center;
    margin-top: 3rem;
}

.features {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
    margin-bottom: 5rem;
}


.light-performance,
.smater-interface{
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    background: #0f0a1c;
    user-select: none;
    padding: 1rem 1rem;
    border-radius: 2rem;
}

.ai-assist{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    grid-column: span 2;
    background: #0f0a1c;
    border-radius: 2rem;
}

.features canvas {
    width: 100% !important;
    height: 20rem!important;
    flex-shrink: 0;
    align-self: center;
    background: none;
}

.feature-text {
    width: 100%;
    height: fit-content;
    background: radial-gradient(circle at 45% 50%, #8E86B5, #2a1e49);
    padding: 1rem 1rem;
    border-radius: 1rem;
    font-family: 'Roboto', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.roadmap-container{
    width: 100%;
    height: 55rem;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 40px 128px #0A101E;
    align-items: center;
    /* background: #16182A; */
    background: url('/src/assets/bg.png') no-repeat center/cover;
    padding: 2.3rem;
    border: none;
    mask-image: linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 5%,   
    rgba(0, 0, 0, 1) 80%,    
    rgba(0, 0, 0, 0) 100%    
);
}

.new{
    width: 75%;
    background: linear-gradient(270deg, #F7F5FD, #746dbd, #F7F5FD);
    background-clip: text;
    color: transparent;
}

.available{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
}

.release-date{
    width: 40%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', serif;
    gap: 0.6rem;
    /* border: 0.3px solid; */
    border-left: 0.3px #746dbd solid;
    border-bottom:0.3px #746dbd solid;
    border-radius: 0 0 0 4rem;
}

.release-day{
    background: linear-gradient(to bottom, #2e1b57 70%, #9576e6);
    padding: 0.3rem 0.4rem;
    width: fit-content;
    border-radius: 0.3rem;
    font-size: 0.8rem;
}

.what-was-it{
    font-weight: 300;
    font-size: 1.4rem;
}

.release-note{
    font-weight: 300;
    font-size: smaller;
}

.available-in-flow{
    background: linear-gradient(-300deg, rgb(238, 232, 232) 50%, rgb(99, 65, 233), black 90%);
    width: 60%;
    height: fit-content;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 3rem;
}

.avail{
    width: 100%;
    height: fit-content;
    padding: 1rem;
    border: 0.001rem rgb(225, 225, 225) solid;
    border-radius: 1rem;
}

.available-content{
    width: 100%;
    background-color: white;
    height: fit-content;
    border-radius: 1rem;
    padding: 1rem;
}

.new-feat{
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #8E86B5;
    font-weight: 200;
    margin-bottom: 2rem;
}

.new-feat svg{
    background-color: #A195C1;
    padding: 0.1rem;
    border-radius: 0.2rem;
    color: #0A101E;
}

.assist{
    font-family: 'Roboto', serif;
    font-weight: 480;
    font-family: 3rem;
    margin-bottom: 0.8rem;
}

.suggestion{
    font-family: 'Roboto', serif;
    font-size: 0.8rem;
}

.list-prompt{
    position: relative;
    top: 1rem;
    left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 4rem;
    list-style-type: none;
}

.list-prompt li{
    margin: 0.5rem;
}

.question{
    display: flex;
    flex-direction: row;
    background-color: rgb(227, 225, 225);
    width: 90%;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    font-family: 'Roboto', serif;
    font-weight: 400;
    align-items: center;
}

.question svg{
    background-color: #9272E1;
    padding: 0.4rem;
    border-radius: 1rem;
}